.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #615e5e;
  font-size: 16px;
  animation: fadeIn 1s;
}

.add form {
  gap: 20px;
}

.add-img-upload img {
  width: 150px;
  opacity: 0.5;
}

.add-product-name,
.add-product-desc {
  width: max(40%, 280px);
}

.add-product-name input,
.add-product-desc textarea {
  padding: 10px;
}

.add-category-price {
  display: flex;
  gap: 30px;
}

.add-price input,
.add-category select {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  width: max(20%, 120px);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add button {
  max-width: 150px;
  border: none;
  padding: 10px;
  background-color: tomato;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.error-border {
  border: 1px solid red;
}
