.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 90px;
  }
  .navbar .profile {
    width: 20px;
  }
}
